form {
    position: relative;
    margin: 12px 0 22px;
}
input {
    width: 240px;
    height: 46px;
    background-color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text);
    padding: 0 36px 0 16px;
    border-radius: var(--border-radius);
    border: 1.5px solid var(--bg-dark);
}
.hint {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--text);
    font-size: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s, transform 0.3s;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 13px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: trnsform 0.1s, opacity 0.3s;

    path {
        fill: var(--title);
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &:active {
        transform: scale(0.9);
    }
}
