.profile {
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 60px;
}

.img {
    display: block;
    width: 45%;
    height: fit-content;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    margin-bottom: 0;
}
.mb {
    margin-bottom: 20px;
}
